USE [CleanPlanet]
GO
ALTER TABLE [cp].[services] DROP CONSTRAINT [CK_services_min_price]
GO
ALTER TABLE [cp].[service_types] DROP CONSTRAINT [CK_service_types_complexity_k_pos]
GO
ALTER TABLE [cp].[service_material_norms] DROP CONSTRAINT [CK_service_material_norms_qty_pos]
GO
ALTER TABLE [cp].[service_labor_norms] DROP CONSTRAINT [CK_sln_hours_pos]
GO
ALTER TABLE [cp].[partners] DROP CONSTRAINT [CK_partners_rating_range]
GO
ALTER TABLE [cp].[partners] DROP CONSTRAINT [CK_partners_inn_digits_len]
GO
ALTER TABLE [cp].[partner_service_history] DROP CONSTRAINT [CK_psh_qty_pos]
GO
ALTER TABLE [cp].[material_types] DROP CONSTRAINT [CK_material_types_overuse_percent]
GO
ALTER TABLE [cp].[material_prices] DROP CONSTRAINT [CK_material_prices_price_nonneg]
GO
ALTER TABLE [cp].[labor_rates] DROP CONSTRAINT [CK_labor_rates_nonneg]
GO
ALTER TABLE [cp].[services] DROP CONSTRAINT [FK_services_service_types_service_type_id]
GO
ALTER TABLE [cp].[service_material_norms] DROP CONSTRAINT [FK_smn_services_service_id]
GO
ALTER TABLE [cp].[service_material_norms] DROP CONSTRAINT [FK_smn_material_types_material_type_id]
GO
ALTER TABLE [cp].[service_labor_norms] DROP CONSTRAINT [FK_sln_services_service_id]
GO
ALTER TABLE [cp].[service_labor_norms] DROP CONSTRAINT [FK_sln_labor_roles_role_id]
GO
ALTER TABLE [cp].[partners] DROP CONSTRAINT [FK_partners_partner_types_partner_type_id]
GO
ALTER TABLE [cp].[partner_service_history] DROP CONSTRAINT [FK_psh_services_service_id]
GO
ALTER TABLE [cp].[partner_service_history] DROP CONSTRAINT [FK_psh_partners_partner_id]
GO
ALTER TABLE [cp].[material_prices] DROP CONSTRAINT [FK_material_prices_material_types_material_type_id]
GO
ALTER TABLE [cp].[labor_rates] DROP CONSTRAINT [FK_labor_rates_roles_role_id]
GO
ALTER TABLE [cp].[services] DROP CONSTRAINT [DF_services_created_at]
GO
ALTER TABLE [cp].[service_types] DROP CONSTRAINT [DF_service_types_created_at]
GO
ALTER TABLE [cp].[service_material_norms] DROP CONSTRAINT [DF_service_material_norms_created_at]
GO
ALTER TABLE [cp].[service_labor_norms] DROP CONSTRAINT [DF_service_labor_norms_created_at]
GO
ALTER TABLE [cp].[partners] DROP CONSTRAINT [DF_partners_created_at]
GO
ALTER TABLE [cp].[partner_types] DROP CONSTRAINT [DF_partner_types_created_at]
GO
ALTER TABLE [cp].[partner_service_history] DROP CONSTRAINT [DF_psh_created_at]
GO
ALTER TABLE [cp].[material_types] DROP CONSTRAINT [DF_material_types_created_at]
GO
ALTER TABLE [cp].[material_prices] DROP CONSTRAINT [DF_material_prices_updated_at]
GO
ALTER TABLE [cp].[material_prices] DROP CONSTRAINT [DF_material_prices_currency]
GO
ALTER TABLE [cp].[labor_roles] DROP CONSTRAINT [DF_labor_roles_created_at]
GO
ALTER TABLE [cp].[labor_rates] DROP CONSTRAINT [DF_labor_rates_updated_at]
GO
ALTER TABLE [cp].[labor_rates] DROP CONSTRAINT [DF_labor_rates_currency]
GO
/****** Object:  Index [IX_services_name]    Script Date: 19.01.2026 1:09:19 ******/
DROP INDEX [IX_services_name] ON [cp].[services]
GO
/****** Object:  Index [UQ_services_code]    Script Date: 19.01.2026 1:09:19 ******/
ALTER TABLE [cp].[services] DROP CONSTRAINT [UQ_services_code]
GO
/****** Object:  Index [UQ_service_types_name]    Script Date: 19.01.2026 1:09:19 ******/
ALTER TABLE [cp].[service_types] DROP CONSTRAINT [UQ_service_types_name]
GO
/****** Object:  Index [IX_smn_service_id]    Script Date: 19.01.2026 1:09:19 ******/
DROP INDEX [IX_smn_service_id] ON [cp].[service_material_norms]
GO
/****** Object:  Index [IX_smn_material_type_id]    Script Date: 19.01.2026 1:09:19 ******/
DROP INDEX [IX_smn_material_type_id] ON [cp].[service_material_norms]
GO
/****** Object:  Index [UQ_service_material_norms]    Script Date: 19.01.2026 1:09:19 ******/
ALTER TABLE [cp].[service_material_norms] DROP CONSTRAINT [UQ_service_material_norms]
GO
/****** Object:  Index [IX_sln_service_id]    Script Date: 19.01.2026 1:09:19 ******/
DROP INDEX [IX_sln_service_id] ON [cp].[service_labor_norms]
GO
/****** Object:  Index [IX_sln_labor_role_id]    Script Date: 19.01.2026 1:09:19 ******/
DROP INDEX [IX_sln_labor_role_id] ON [cp].[service_labor_norms]
GO
/****** Object:  Index [UQ_sln_service_role]    Script Date: 19.01.2026 1:09:19 ******/
ALTER TABLE [cp].[service_labor_norms] DROP CONSTRAINT [UQ_sln_service_role]
GO
/****** Object:  Index [UIX_partners_inn]    Script Date: 19.01.2026 1:09:19 ******/
DROP INDEX [UIX_partners_inn] ON [cp].[partners]
GO
/****** Object:  Index [IX_partners_name]    Script Date: 19.01.2026 1:09:19 ******/
DROP INDEX [IX_partners_name] ON [cp].[partners]
GO
/****** Object:  Index [UQ_partners_name]    Script Date: 19.01.2026 1:09:19 ******/
ALTER TABLE [cp].[partners] DROP CONSTRAINT [UQ_partners_name]
GO
/****** Object:  Index [UQ_partner_types_name]    Script Date: 19.01.2026 1:09:19 ******/
ALTER TABLE [cp].[partner_types] DROP CONSTRAINT [UQ_partner_types_name]
GO
/****** Object:  Index [IX_psh_service_id]    Script Date: 19.01.2026 1:09:19 ******/
DROP INDEX [IX_psh_service_id] ON [cp].[partner_service_history]
GO
/****** Object:  Index [IX_psh_partner_date]    Script Date: 19.01.2026 1:09:19 ******/
DROP INDEX [IX_psh_partner_date] ON [cp].[partner_service_history]
GO
/****** Object:  Index [UQ_material_types_name]    Script Date: 19.01.2026 1:09:19 ******/
ALTER TABLE [cp].[material_types] DROP CONSTRAINT [UQ_material_types_name]
GO
/****** Object:  Index [IX_material_prices_material_type]    Script Date: 19.01.2026 1:09:19 ******/
DROP INDEX [IX_material_prices_material_type] ON [cp].[material_prices]
GO
/****** Object:  Index [UQ_material_prices_material_type]    Script Date: 19.01.2026 1:09:19 ******/
ALTER TABLE [cp].[material_prices] DROP CONSTRAINT [UQ_material_prices_material_type]
GO
/****** Object:  Index [UQ_labor_roles_name]    Script Date: 19.01.2026 1:09:19 ******/
ALTER TABLE [cp].[labor_roles] DROP CONSTRAINT [UQ_labor_roles_name]
GO
/****** Object:  Index [IX_labor_rates_role]    Script Date: 19.01.2026 1:09:19 ******/
DROP INDEX [IX_labor_rates_role] ON [cp].[labor_rates]
GO
/****** Object:  Index [UQ_labor_rates_role]    Script Date: 19.01.2026 1:09:19 ******/
ALTER TABLE [cp].[labor_rates] DROP CONSTRAINT [UQ_labor_rates_role]
GO
/****** Object:  Table [cp_stg].[services_raw]    Script Date: 19.01.2026 1:09:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[cp_stg].[services_raw]') AND type in (N'U'))
DROP TABLE [cp_stg].[services_raw]
GO
/****** Object:  Table [cp_stg].[service_types_raw]    Script Date: 19.01.2026 1:09:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[cp_stg].[service_types_raw]') AND type in (N'U'))
DROP TABLE [cp_stg].[service_types_raw]
GO
/****** Object:  Table [cp_stg].[partners_raw]    Script Date: 19.01.2026 1:09:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[cp_stg].[partners_raw]') AND type in (N'U'))
DROP TABLE [cp_stg].[partners_raw]
GO
/****** Object:  Table [cp_stg].[partner_services_raw]    Script Date: 19.01.2026 1:09:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[cp_stg].[partner_services_raw]') AND type in (N'U'))
DROP TABLE [cp_stg].[partner_services_raw]
GO
/****** Object:  Table [cp_stg].[material_types_raw]    Script Date: 19.01.2026 1:09:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[cp_stg].[material_types_raw]') AND type in (N'U'))
DROP TABLE [cp_stg].[material_types_raw]
GO
/****** Object:  Table [cp].[services]    Script Date: 19.01.2026 1:09:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[cp].[services]') AND type in (N'U'))
DROP TABLE [cp].[services]
GO
/****** Object:  Table [cp].[service_types]    Script Date: 19.01.2026 1:09:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[cp].[service_types]') AND type in (N'U'))
DROP TABLE [cp].[service_types]
GO
/****** Object:  Table [cp].[service_labor_norms]    Script Date: 19.01.2026 1:09:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[cp].[service_labor_norms]') AND type in (N'U'))
DROP TABLE [cp].[service_labor_norms]
GO
/****** Object:  Table [cp].[partners]    Script Date: 19.01.2026 1:09:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[cp].[partners]') AND type in (N'U'))
DROP TABLE [cp].[partners]
GO
/****** Object:  Table [cp].[partner_types]    Script Date: 19.01.2026 1:09:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[cp].[partner_types]') AND type in (N'U'))
DROP TABLE [cp].[partner_types]
GO
/****** Object:  Table [cp].[partner_service_history]    Script Date: 19.01.2026 1:09:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[cp].[partner_service_history]') AND type in (N'U'))
DROP TABLE [cp].[partner_service_history]
GO
/****** Object:  Table [cp].[material_prices]    Script Date: 19.01.2026 1:09:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[cp].[material_prices]') AND type in (N'U'))
DROP TABLE [cp].[material_prices]
GO
/****** Object:  Table [cp].[labor_roles]    Script Date: 19.01.2026 1:09:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[cp].[labor_roles]') AND type in (N'U'))
DROP TABLE [cp].[labor_roles]
GO
/****** Object:  Table [cp].[labor_rates]    Script Date: 19.01.2026 1:09:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[cp].[labor_rates]') AND type in (N'U'))
DROP TABLE [cp].[labor_rates]
GO
/****** Object:  UserDefinedFunction [cp].[fn_calc_required_material]    Script Date: 19.01.2026 1:09:19 ******/
DROP FUNCTION [cp].[fn_calc_required_material]
GO
/****** Object:  Table [cp].[service_material_norms]    Script Date: 19.01.2026 1:09:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[cp].[service_material_norms]') AND type in (N'U'))
DROP TABLE [cp].[service_material_norms]
GO
/****** Object:  Table [cp].[material_types]    Script Date: 19.01.2026 1:09:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[cp].[material_types]') AND type in (N'U'))
DROP TABLE [cp].[material_types]
GO
/****** Object:  UserDefinedFunction [cp].[fn_calc_service_cost]    Script Date: 19.01.2026 1:09:19 ******/
DROP FUNCTION [cp].[fn_calc_service_cost]
GO
/****** Object:  Schema [cp_stg]    Script Date: 19.01.2026 1:09:19 ******/
DROP SCHEMA [cp_stg]
GO
/****** Object:  Schema [cp]    Script Date: 19.01.2026 1:09:19 ******/
DROP SCHEMA [cp]
GO
USE [master]
GO
/****** Object:  Database [CleanPlanet]    Script Date: 19.01.2026 1:09:19 ******/
DROP DATABASE [CleanPlanet]
GO
/****** Object:  Database [CleanPlanet]    Script Date: 19.01.2026 1:09:19 ******/
CREATE DATABASE [CleanPlanet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CleanPlanet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CleanPlanet.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CleanPlanet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CleanPlanet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CleanPlanet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CleanPlanet]
GO
/****** Object:  Schema [cp]    Script Date: 19.01.2026 1:09:19 ******/
CREATE SCHEMA [cp]
GO
/****** Object:  Schema [cp_stg]    Script Date: 19.01.2026 1:09:19 ******/
CREATE SCHEMA [cp_stg]
GO
/****** Object:  UserDefinedFunction [cp].[fn_calc_service_cost]    Script Date: 19.01.2026 1:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Себестоимость = материалы + труд.
-- Правила:
--  - Если услуга не найдена → -1
--  - Если нет ни норм материалов, ни норм труда → -1
--  - Если для материалов есть нормы, но нет цен на какой-то тип материала → -1
--  - Если для труда есть нормы, но нет ставки на какую-то роль → -1
--  - Иначе: SUM(qty_per_unit * (1 + overuse%/100) * price_per_unit) + SUM(hours_per_unit * hourly_rate)

CREATE   FUNCTION [cp].[fn_calc_service_cost]
(
    @service_id INT
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    -- Сервис существует?
    IF NOT EXISTS (SELECT 1 FROM cp.services WHERE id = @service_id)
        RETURN CAST(-1 AS DECIMAL(18,2));

    DECLARE @has_mat BIT = CASE WHEN EXISTS (SELECT 1 FROM cp.service_material_norms WHERE service_id = @service_id) THEN 1 ELSE 0 END;
    DECLARE @has_lab BIT = CASE WHEN EXISTS (SELECT 1 FROM cp.service_labor_norms   WHERE service_id = @service_id) THEN 1 ELSE 0 END;

    -- Нет ни материалов, ни труда -> нехватка данных
    IF (@has_mat = 0 AND @has_lab = 0)
        RETURN CAST(-1 AS DECIMAL(18,2));

    DECLARE @mat_cost DECIMAL(18,4) = 0.0;
    DECLARE @lab_cost DECIMAL(18,4) = 0.0;

    -- Материалы
    IF (@has_mat = 1)
    BEGIN
        -- Если на какой-то тип материала нет цены -> -1
        IF EXISTS (
            SELECT 1
            FROM cp.service_material_norms n
            LEFT JOIN cp.material_prices mp ON mp.material_type_id = n.material_type_id
            WHERE n.service_id = @service_id
              AND mp.id IS NULL
        )
            RETURN CAST(-1 AS DECIMAL(18,2));

        SELECT @mat_cost = SUM(n.qty_per_unit * (1.0 + mt.overuse_percent/100.0) * mp.price_per_unit)
        FROM cp.service_material_norms n
        JOIN cp.material_types  mt ON mt.id = n.material_type_id
        JOIN cp.material_prices mp ON mp.material_type_id = n.material_type_id
        WHERE n.service_id = @service_id;
    END

    -- Труд
    IF (@has_lab = 1)
    BEGIN
        -- Если на какую-то роль нет ставки -> -1
        IF EXISTS (
            SELECT 1
            FROM cp.service_labor_norms n
            LEFT JOIN cp.labor_rates r ON r.labor_role_id = n.labor_role_id
            WHERE n.service_id = @service_id
              AND r.id IS NULL
        )
            RETURN CAST(-1 AS DECIMAL(18,2));

        SELECT @lab_cost = SUM(n.hours_per_unit * r.hourly_rate)
        FROM cp.service_labor_norms n
        JOIN cp.labor_rates r ON r.labor_role_id = n.labor_role_id
        WHERE n.service_id = @service_id;
    END

    RETURN CAST(ROUND(ISNULL(@mat_cost,0) + ISNULL(@lab_cost,0), 2) AS DECIMAL(18,2));
END;
GO
/****** Object:  Table [cp].[material_types]    Script Date: 19.01.2026 1:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cp].[material_types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[overuse_percent] [decimal](5, 2) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_material_types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cp].[service_material_norms]    Script Date: 19.01.2026 1:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cp].[service_material_norms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_id] [int] NOT NULL,
	[material_type_id] [int] NOT NULL,
	[qty_per_unit] [decimal](18, 3) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_service_material_norms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [cp].[fn_calc_required_material]    Script Date: 19.01.2026 1:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- cp.fn_calc_required_material(@service_id, @qty)
-- Возвращает по каждой записи нормы материал -> требуемое количество
-- Учитывает перерасход (cp.material_types.overuse_percent).
-- Если @qty <= 0 или нет норм для услуги — вернётся пустой набор строк.

CREATE   FUNCTION [cp].[fn_calc_required_material]
(
    @service_id INT,
    @qty        INT
)
RETURNS TABLE
AS
RETURN
    SELECT
        mt.id   AS material_type_id,
        mt.name AS material_name,
        CAST(n.qty_per_unit * @qty AS DECIMAL(18,3)) AS base_qty,
        CAST(mt.overuse_percent AS DECIMAL(5,2))     AS overuse_percent,
        CAST(ROUND(n.qty_per_unit * @qty * (1.0 + mt.overuse_percent/100.0), 3) AS DECIMAL(18,3)) AS required_qty
    FROM cp.service_material_norms n
    JOIN cp.material_types mt ON mt.id = n.material_type_id
    WHERE n.service_id = @service_id
      AND @qty > 0;
GO
/****** Object:  Table [cp].[labor_rates]    Script Date: 19.01.2026 1:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cp].[labor_rates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[labor_role_id] [int] NOT NULL,
	[hourly_rate] [decimal](18, 2) NOT NULL,
	[currency] [nvarchar](3) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_labor_rates] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cp].[labor_roles]    Script Date: 19.01.2026 1:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cp].[labor_roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_labor_roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cp].[material_prices]    Script Date: 19.01.2026 1:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cp].[material_prices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[material_type_id] [int] NOT NULL,
	[price_per_unit] [decimal](18, 2) NOT NULL,
	[currency] [nvarchar](3) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_material_prices] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cp].[partner_service_history]    Script Date: 19.01.2026 1:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cp].[partner_service_history](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[partner_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
	[qty] [int] NOT NULL,
	[performed_at] [date] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_partner_service_history] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cp].[partner_types]    Script Date: 19.01.2026 1:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cp].[partner_types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_partner_types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cp].[partners]    Script Date: 19.01.2026 1:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cp].[partners](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[partner_type_id] [int] NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[head] [nvarchar](150) NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](50) NULL,
	[legal_address] [nvarchar](400) NULL,
	[inn] [nvarchar](12) NULL,
	[rating] [tinyint] NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_partners] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cp].[service_labor_norms]    Script Date: 19.01.2026 1:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cp].[service_labor_norms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_id] [int] NOT NULL,
	[labor_role_id] [int] NOT NULL,
	[hours_per_unit] [decimal](10, 3) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_service_labor_norms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cp].[service_types]    Script Date: 19.01.2026 1:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cp].[service_types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[complexity_k] [decimal](10, 3) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_service_types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cp].[services]    Script Date: 19.01.2026 1:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cp].[services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_type_id] [int] NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[min_partner_price] [decimal](18, 2) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_services] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cp_stg].[material_types_raw]    Script Date: 19.01.2026 1:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cp_stg].[material_types_raw](
	[material_type_name] [nvarchar](400) NULL,
	[overuse_percent_raw] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [cp_stg].[partner_services_raw]    Script Date: 19.01.2026 1:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cp_stg].[partner_services_raw](
	[service_name] [nvarchar](400) NULL,
	[partner_name] [nvarchar](400) NULL,
	[qty_raw] [nvarchar](100) NULL,
	[performed_raw] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [cp_stg].[partners_raw]    Script Date: 19.01.2026 1:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cp_stg].[partners_raw](
	[partner_type_name] [nvarchar](400) NULL,
	[partner_name] [nvarchar](400) NULL,
	[head] [nvarchar](400) NULL,
	[email] [nvarchar](400) NULL,
	[phone] [nvarchar](200) NULL,
	[legal_address] [nvarchar](800) NULL,
	[inn_raw] [nvarchar](100) NULL,
	[rating_raw] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [cp_stg].[service_types_raw]    Script Date: 19.01.2026 1:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cp_stg].[service_types_raw](
	[service_type_name] [nvarchar](400) NULL,
	[complexity_k_raw] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [cp_stg].[services_raw]    Script Date: 19.01.2026 1:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cp_stg].[services_raw](
	[service_type_name] [nvarchar](400) NULL,
	[service_name] [nvarchar](400) NULL,
	[service_code] [nvarchar](200) NULL,
	[min_price_raw] [nvarchar](100) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [cp].[labor_rates] ON 

INSERT [cp].[labor_rates] ([id], [labor_role_id], [hourly_rate], [currency], [updated_at]) VALUES (1, 1, CAST(400.00 AS Decimal(18, 2)), N'RUB', CAST(N'2025-11-08T17:13:17.5475022' AS DateTime2))
INSERT [cp].[labor_rates] ([id], [labor_role_id], [hourly_rate], [currency], [updated_at]) VALUES (2, 2, CAST(700.00 AS Decimal(18, 2)), N'RUB', CAST(N'2025-11-08T17:13:17.5475022' AS DateTime2))
INSERT [cp].[labor_rates] ([id], [labor_role_id], [hourly_rate], [currency], [updated_at]) VALUES (3, 3, CAST(350.00 AS Decimal(18, 2)), N'RUB', CAST(N'2025-11-08T17:13:17.5475022' AS DateTime2))
SET IDENTITY_INSERT [cp].[labor_rates] OFF
GO
SET IDENTITY_INSERT [cp].[labor_roles] ON 

INSERT [cp].[labor_roles] ([id], [name], [created_at]) VALUES (1, N'Оператор стирки', CAST(N'2025-11-08T17:12:00.7103777' AS DateTime2))
INSERT [cp].[labor_roles] ([id], [name], [created_at]) VALUES (2, N'Мастер химчистки', CAST(N'2025-11-08T17:12:00.7103777' AS DateTime2))
INSERT [cp].[labor_roles] ([id], [name], [created_at]) VALUES (3, N'Гладильщик', CAST(N'2025-11-08T17:12:00.7103777' AS DateTime2))
SET IDENTITY_INSERT [cp].[labor_roles] OFF
GO
SET IDENTITY_INSERT [cp].[material_prices] ON 

INSERT [cp].[material_prices] ([id], [material_type_id], [price_per_unit], [currency], [updated_at]) VALUES (1, 1, CAST(100.00 AS Decimal(18, 2)), N'RUB', CAST(N'2025-11-08T17:00:33.1649056' AS DateTime2))
INSERT [cp].[material_prices] ([id], [material_type_id], [price_per_unit], [currency], [updated_at]) VALUES (2, 2, CAST(100.00 AS Decimal(18, 2)), N'RUB', CAST(N'2025-11-08T17:00:33.1649056' AS DateTime2))
INSERT [cp].[material_prices] ([id], [material_type_id], [price_per_unit], [currency], [updated_at]) VALUES (3, 3, CAST(100.00 AS Decimal(18, 2)), N'RUB', CAST(N'2025-11-08T17:00:33.1649056' AS DateTime2))
SET IDENTITY_INSERT [cp].[material_prices] OFF
GO
SET IDENTITY_INSERT [cp].[material_types] ON 

INSERT [cp].[material_types] ([id], [name], [overuse_percent], [created_at]) VALUES (1, N'Порошок', CAST(0.05 AS Decimal(5, 2)), CAST(N'2025-11-08T16:43:33.7593792' AS DateTime2))
INSERT [cp].[material_types] ([id], [name], [overuse_percent], [created_at]) VALUES (2, N'Растворитель', CAST(0.08 AS Decimal(5, 2)), CAST(N'2025-11-08T16:43:33.7593792' AS DateTime2))
INSERT [cp].[material_types] ([id], [name], [overuse_percent], [created_at]) VALUES (3, N'Отбеливатель', CAST(0.10 AS Decimal(5, 2)), CAST(N'2025-11-08T16:43:33.7593792' AS DateTime2))
SET IDENTITY_INSERT [cp].[material_types] OFF
GO
SET IDENTITY_INSERT [cp].[partner_service_history] ON 

INSERT [cp].[partner_service_history] ([id], [partner_id], [service_id], [qty], [performed_at], [created_at]) VALUES (1, 1, 1, 150, CAST(N'2023-03-23' AS Date), CAST(N'2025-11-08T16:47:18.4681420' AS DateTime2))
INSERT [cp].[partner_service_history] ([id], [partner_id], [service_id], [qty], [performed_at], [created_at]) VALUES (2, 1, 3, 85, CAST(N'2023-12-18' AS Date), CAST(N'2025-11-08T16:47:18.4681420' AS DateTime2))
INSERT [cp].[partner_service_history] ([id], [partner_id], [service_id], [qty], [performed_at], [created_at]) VALUES (3, 1, 2, 120, CAST(N'2024-06-07' AS Date), CAST(N'2025-11-08T16:47:18.4681420' AS DateTime2))
SET IDENTITY_INSERT [cp].[partner_service_history] OFF
GO
SET IDENTITY_INSERT [cp].[partner_types] ON 

INSERT [cp].[partner_types] ([id], [name], [created_at]) VALUES (1, N'ЗАО', CAST(N'2025-11-08T16:46:13.6834880' AS DateTime2))
INSERT [cp].[partner_types] ([id], [name], [created_at]) VALUES (2, N'ИП', CAST(N'2025-11-08T16:46:13.6834880' AS DateTime2))
INSERT [cp].[partner_types] ([id], [name], [created_at]) VALUES (3, N'ООО', CAST(N'2025-11-08T16:46:13.6834880' AS DateTime2))
SET IDENTITY_INSERT [cp].[partner_types] OFF
GO
SET IDENTITY_INSERT [cp].[partners] ON 

INSERT [cp].[partners] ([id], [partner_type_id], [name], [head], [email], [phone], [legal_address], [inn], [rating], [created_at]) VALUES (1, 2, N'Чистый Мир', N'Смирнова Ольга Викторовна', N'olga.smirnova@cm.ru', N'495 111 22 33', N'123456, г. Москва, ул. Чистая, д. 10', N'1234567890', 9, CAST(N'2025-11-08T16:46:13.6834880' AS DateTime2))
INSERT [cp].[partners] ([id], [partner_type_id], [name], [head], [email], [phone], [legal_address], [inn], [rating], [created_at]) VALUES (2, 3, N'Блеск и Глянец', N'Комаров Денис Игоревич', N'denis.komarov@bg.ru', N'812 444 55 66', N'190000, г. Санкт-Петербург, Невский пр-т, д. 50', N'2345678901', 8, CAST(N'2025-11-08T16:46:13.6834880' AS DateTime2))
INSERT [cp].[partners] ([id], [partner_type_id], [name], [head], [email], [phone], [legal_address], [inn], [rating], [created_at]) VALUES (3, 2, N'Свежесть Плюс', N'Николаева Анна Сергеевна', N'anna.nikolaeva@sp.ru', N'383 777 88 99', N'630000, г. Новосибирск, ул. Лазурная, д. 25', N'3456789012', 7, CAST(N'2025-11-08T16:46:13.6834880' AS DateTime2))
SET IDENTITY_INSERT [cp].[partners] OFF
GO
SET IDENTITY_INSERT [cp].[service_labor_norms] ON 

INSERT [cp].[service_labor_norms] ([id], [service_id], [labor_role_id], [hours_per_unit], [created_at]) VALUES (1, 1, 1, CAST(0.300 AS Decimal(10, 3)), CAST(N'2025-11-08T17:16:08.0892733' AS DateTime2))
INSERT [cp].[service_labor_norms] ([id], [service_id], [labor_role_id], [hours_per_unit], [created_at]) VALUES (2, 1, 3, CAST(0.250 AS Decimal(10, 3)), CAST(N'2025-11-08T17:16:08.0892733' AS DateTime2))
INSERT [cp].[service_labor_norms] ([id], [service_id], [labor_role_id], [hours_per_unit], [created_at]) VALUES (3, 1, 4, CAST(0.100 AS Decimal(10, 3)), CAST(N'2025-11-08T17:16:08.0892733' AS DateTime2))
SET IDENTITY_INSERT [cp].[service_labor_norms] OFF
GO
SET IDENTITY_INSERT [cp].[service_material_norms] ON 

INSERT [cp].[service_material_norms] ([id], [service_id], [material_type_id], [qty_per_unit], [created_at]) VALUES (1, 1, 1, CAST(0.150 AS Decimal(18, 3)), CAST(N'2025-11-08T17:17:21.9819774' AS DateTime2))
INSERT [cp].[service_material_norms] ([id], [service_id], [material_type_id], [qty_per_unit], [created_at]) VALUES (2, 1, 4, CAST(0.050 AS Decimal(18, 3)), CAST(N'2025-11-08T17:17:21.9819774' AS DateTime2))
INSERT [cp].[service_material_norms] ([id], [service_id], [material_type_id], [qty_per_unit], [created_at]) VALUES (3, 1, 6, CAST(1.000 AS Decimal(18, 3)), CAST(N'2025-11-08T17:17:21.9819774' AS DateTime2))
SET IDENTITY_INSERT [cp].[service_material_norms] OFF
GO
SET IDENTITY_INSERT [cp].[service_types] ON 

INSERT [cp].[service_types] ([id], [name], [complexity_k], [created_at]) VALUES (1, N'Стирка', CAST(1.000 AS Decimal(10, 3)), CAST(N'2025-11-08T16:42:09.0215183' AS DateTime2))
INSERT [cp].[service_types] ([id], [name], [complexity_k], [created_at]) VALUES (2, N'Химчистка', CAST(2.500 AS Decimal(10, 3)), CAST(N'2025-11-08T16:42:09.0215183' AS DateTime2))
INSERT [cp].[service_types] ([id], [name], [complexity_k], [created_at]) VALUES (3, N'Ремонт', CAST(3.000 AS Decimal(10, 3)), CAST(N'2025-11-08T16:42:09.0215183' AS DateTime2))
SET IDENTITY_INSERT [cp].[service_types] OFF
GO
SET IDENTITY_INSERT [cp].[services] ON 

INSERT [cp].[services] ([id], [service_type_id], [name], [code], [min_partner_price], [created_at]) VALUES (1, 1, N'Стирка постельного белья (до 10 кг)', N'SRV-001', CAST(500.00 AS Decimal(18, 2)), CAST(N'2025-11-08T16:43:59.3012077' AS DateTime2))
INSERT [cp].[services] ([id], [service_type_id], [name], [code], [min_partner_price], [created_at]) VALUES (2, 1, N'Стирка верхней одежды (куртки, пальто)', N'SRV-002', CAST(800.00 AS Decimal(18, 2)), CAST(N'2025-11-08T16:43:59.3012077' AS DateTime2))
INSERT [cp].[services] ([id], [service_type_id], [name], [code], [min_partner_price], [created_at]) VALUES (3, 2, N'Химчистка костюма', N'SRV-003', CAST(1200.00 AS Decimal(18, 2)), CAST(N'2025-11-08T16:43:59.3012077' AS DateTime2))
SET IDENTITY_INSERT [cp].[services] OFF
GO
INSERT [cp_stg].[material_types_raw] ([material_type_name], [overuse_percent_raw]) VALUES (N'Порошок', N'0.05')
INSERT [cp_stg].[material_types_raw] ([material_type_name], [overuse_percent_raw]) VALUES (N'Растворитель', N'0.08')
INSERT [cp_stg].[material_types_raw] ([material_type_name], [overuse_percent_raw]) VALUES (N'Отбеливатель', N'0.10')
GO
INSERT [cp_stg].[partner_services_raw] ([service_name], [partner_name], [qty_raw], [performed_raw]) VALUES (N'Стирка постельного белья (до 10 кг)', N'Чистый Мир', N'150', N'2023-03-23 00:00:00')
INSERT [cp_stg].[partner_services_raw] ([service_name], [partner_name], [qty_raw], [performed_raw]) VALUES (N'Химчистка костюма', N'Чистый Мир', N'85', N'2023-12-18 00:00:00')
INSERT [cp_stg].[partner_services_raw] ([service_name], [partner_name], [qty_raw], [performed_raw]) VALUES (N'Стирка верхней одежды (куртки, пальто)', N'Чистый Мир', N'120', N'2024-06-07 00:00:00')
GO
INSERT [cp_stg].[partners_raw] ([partner_type_name], [partner_name], [head], [email], [phone], [legal_address], [inn_raw], [rating_raw]) VALUES (N'ИП', N'Чистый Мир', N'Смирнова Ольга Викторовна', N'olga.smirnova@cm.ru', N'495 111 22 33', N'123456, г. Москва, ул. Чистая, д. 10', N'1234567890', N'9')
INSERT [cp_stg].[partners_raw] ([partner_type_name], [partner_name], [head], [email], [phone], [legal_address], [inn_raw], [rating_raw]) VALUES (N'ООО', N'Блеск и Глянец', N'Комаров Денис Игоревич', N'denis.komarov@bg.ru', N'812 444 55 66', N'190000, г. Санкт-Петербург, Невский пр-т, д. 50', N'2345678901', N'8')
INSERT [cp_stg].[partners_raw] ([partner_type_name], [partner_name], [head], [email], [phone], [legal_address], [inn_raw], [rating_raw]) VALUES (N'ИП', N'Свежесть Плюс', N'Николаева Анна Сергеевна', N'anna.nikolaeva@sp.ru', N'383 777 88 99', N'630000, г. Новосибирск, ул. Лазурная, д. 25', N'3456789012', N'7')
GO
INSERT [cp_stg].[service_types_raw] ([service_type_name], [complexity_k_raw]) VALUES (N'Стирка', N'1.0')
INSERT [cp_stg].[service_types_raw] ([service_type_name], [complexity_k_raw]) VALUES (N'Химчистка', N'2.5')
INSERT [cp_stg].[service_types_raw] ([service_type_name], [complexity_k_raw]) VALUES (N'Ремонт', N'3.0')
GO
INSERT [cp_stg].[services_raw] ([service_type_name], [service_name], [service_code], [min_price_raw]) VALUES (N'Стирка', N'Стирка постельного белья (до 10 кг)', N'SRV-001', N'500.00')
INSERT [cp_stg].[services_raw] ([service_type_name], [service_name], [service_code], [min_price_raw]) VALUES (N'Стирка', N'Стирка верхней одежды (куртки, пальто)', N'SRV-002', N'800.00')
INSERT [cp_stg].[services_raw] ([service_type_name], [service_name], [service_code], [min_price_raw]) VALUES (N'Химчистка', N'Химчистка костюма', N'SRV-003', N'1200.00')
GO
/****** Object:  Index [UQ_labor_rates_role]    Script Date: 19.01.2026 1:09:19 ******/
ALTER TABLE [cp].[labor_rates] ADD  CONSTRAINT [UQ_labor_rates_role] UNIQUE NONCLUSTERED 
(
	[labor_role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_labor_rates_role]    Script Date: 19.01.2026 1:09:19 ******/
CREATE NONCLUSTERED INDEX [IX_labor_rates_role] ON [cp].[labor_rates]
(
	[labor_role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_labor_roles_name]    Script Date: 19.01.2026 1:09:19 ******/
ALTER TABLE [cp].[labor_roles] ADD  CONSTRAINT [UQ_labor_roles_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_material_prices_material_type]    Script Date: 19.01.2026 1:09:19 ******/
ALTER TABLE [cp].[material_prices] ADD  CONSTRAINT [UQ_material_prices_material_type] UNIQUE NONCLUSTERED 
(
	[material_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_material_prices_material_type]    Script Date: 19.01.2026 1:09:19 ******/
CREATE NONCLUSTERED INDEX [IX_material_prices_material_type] ON [cp].[material_prices]
(
	[material_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_material_types_name]    Script Date: 19.01.2026 1:09:19 ******/
ALTER TABLE [cp].[material_types] ADD  CONSTRAINT [UQ_material_types_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_psh_partner_date]    Script Date: 19.01.2026 1:09:19 ******/
CREATE NONCLUSTERED INDEX [IX_psh_partner_date] ON [cp].[partner_service_history]
(
	[partner_id] ASC,
	[performed_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_psh_service_id]    Script Date: 19.01.2026 1:09:19 ******/
CREATE NONCLUSTERED INDEX [IX_psh_service_id] ON [cp].[partner_service_history]
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_partner_types_name]    Script Date: 19.01.2026 1:09:19 ******/
ALTER TABLE [cp].[partner_types] ADD  CONSTRAINT [UQ_partner_types_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_partners_name]    Script Date: 19.01.2026 1:09:19 ******/
ALTER TABLE [cp].[partners] ADD  CONSTRAINT [UQ_partners_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_partners_name]    Script Date: 19.01.2026 1:09:19 ******/
CREATE NONCLUSTERED INDEX [IX_partners_name] ON [cp].[partners]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UIX_partners_inn]    Script Date: 19.01.2026 1:09:19 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIX_partners_inn] ON [cp].[partners]
(
	[inn] ASC
)
WHERE ([inn] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_sln_service_role]    Script Date: 19.01.2026 1:09:19 ******/
ALTER TABLE [cp].[service_labor_norms] ADD  CONSTRAINT [UQ_sln_service_role] UNIQUE NONCLUSTERED 
(
	[service_id] ASC,
	[labor_role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_sln_labor_role_id]    Script Date: 19.01.2026 1:09:19 ******/
CREATE NONCLUSTERED INDEX [IX_sln_labor_role_id] ON [cp].[service_labor_norms]
(
	[labor_role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_sln_service_id]    Script Date: 19.01.2026 1:09:19 ******/
CREATE NONCLUSTERED INDEX [IX_sln_service_id] ON [cp].[service_labor_norms]
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_service_material_norms]    Script Date: 19.01.2026 1:09:19 ******/
ALTER TABLE [cp].[service_material_norms] ADD  CONSTRAINT [UQ_service_material_norms] UNIQUE NONCLUSTERED 
(
	[service_id] ASC,
	[material_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_smn_material_type_id]    Script Date: 19.01.2026 1:09:19 ******/
CREATE NONCLUSTERED INDEX [IX_smn_material_type_id] ON [cp].[service_material_norms]
(
	[material_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_smn_service_id]    Script Date: 19.01.2026 1:09:19 ******/
CREATE NONCLUSTERED INDEX [IX_smn_service_id] ON [cp].[service_material_norms]
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_service_types_name]    Script Date: 19.01.2026 1:09:19 ******/
ALTER TABLE [cp].[service_types] ADD  CONSTRAINT [UQ_service_types_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_services_code]    Script Date: 19.01.2026 1:09:19 ******/
ALTER TABLE [cp].[services] ADD  CONSTRAINT [UQ_services_code] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_services_name]    Script Date: 19.01.2026 1:09:19 ******/
CREATE NONCLUSTERED INDEX [IX_services_name] ON [cp].[services]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [cp].[labor_rates] ADD  CONSTRAINT [DF_labor_rates_currency]  DEFAULT (N'RUB') FOR [currency]
GO
ALTER TABLE [cp].[labor_rates] ADD  CONSTRAINT [DF_labor_rates_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [cp].[labor_roles] ADD  CONSTRAINT [DF_labor_roles_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [cp].[material_prices] ADD  CONSTRAINT [DF_material_prices_currency]  DEFAULT (N'RUB') FOR [currency]
GO
ALTER TABLE [cp].[material_prices] ADD  CONSTRAINT [DF_material_prices_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [cp].[material_types] ADD  CONSTRAINT [DF_material_types_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [cp].[partner_service_history] ADD  CONSTRAINT [DF_psh_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [cp].[partner_types] ADD  CONSTRAINT [DF_partner_types_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [cp].[partners] ADD  CONSTRAINT [DF_partners_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [cp].[service_labor_norms] ADD  CONSTRAINT [DF_service_labor_norms_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [cp].[service_material_norms] ADD  CONSTRAINT [DF_service_material_norms_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [cp].[service_types] ADD  CONSTRAINT [DF_service_types_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [cp].[services] ADD  CONSTRAINT [DF_services_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [cp].[labor_rates]  WITH CHECK ADD  CONSTRAINT [FK_labor_rates_roles_role_id] FOREIGN KEY([labor_role_id])
REFERENCES [cp].[labor_roles] ([id])
GO
ALTER TABLE [cp].[labor_rates] CHECK CONSTRAINT [FK_labor_rates_roles_role_id]
GO
ALTER TABLE [cp].[material_prices]  WITH CHECK ADD  CONSTRAINT [FK_material_prices_material_types_material_type_id] FOREIGN KEY([material_type_id])
REFERENCES [cp].[material_types] ([id])
GO
ALTER TABLE [cp].[material_prices] CHECK CONSTRAINT [FK_material_prices_material_types_material_type_id]
GO
ALTER TABLE [cp].[partner_service_history]  WITH CHECK ADD  CONSTRAINT [FK_psh_partners_partner_id] FOREIGN KEY([partner_id])
REFERENCES [cp].[partners] ([id])
GO
ALTER TABLE [cp].[partner_service_history] CHECK CONSTRAINT [FK_psh_partners_partner_id]
GO
ALTER TABLE [cp].[partner_service_history]  WITH CHECK ADD  CONSTRAINT [FK_psh_services_service_id] FOREIGN KEY([service_id])
REFERENCES [cp].[services] ([id])
GO
ALTER TABLE [cp].[partner_service_history] CHECK CONSTRAINT [FK_psh_services_service_id]
GO
ALTER TABLE [cp].[partners]  WITH CHECK ADD  CONSTRAINT [FK_partners_partner_types_partner_type_id] FOREIGN KEY([partner_type_id])
REFERENCES [cp].[partner_types] ([id])
GO
ALTER TABLE [cp].[partners] CHECK CONSTRAINT [FK_partners_partner_types_partner_type_id]
GO
ALTER TABLE [cp].[service_labor_norms]  WITH CHECK ADD  CONSTRAINT [FK_sln_labor_roles_role_id] FOREIGN KEY([labor_role_id])
REFERENCES [cp].[labor_roles] ([id])
GO
ALTER TABLE [cp].[service_labor_norms] CHECK CONSTRAINT [FK_sln_labor_roles_role_id]
GO
ALTER TABLE [cp].[service_labor_norms]  WITH CHECK ADD  CONSTRAINT [FK_sln_services_service_id] FOREIGN KEY([service_id])
REFERENCES [cp].[services] ([id])
GO
ALTER TABLE [cp].[service_labor_norms] CHECK CONSTRAINT [FK_sln_services_service_id]
GO
ALTER TABLE [cp].[service_material_norms]  WITH CHECK ADD  CONSTRAINT [FK_smn_material_types_material_type_id] FOREIGN KEY([material_type_id])
REFERENCES [cp].[material_types] ([id])
GO
ALTER TABLE [cp].[service_material_norms] CHECK CONSTRAINT [FK_smn_material_types_material_type_id]
GO
ALTER TABLE [cp].[service_material_norms]  WITH CHECK ADD  CONSTRAINT [FK_smn_services_service_id] FOREIGN KEY([service_id])
REFERENCES [cp].[services] ([id])
GO
ALTER TABLE [cp].[service_material_norms] CHECK CONSTRAINT [FK_smn_services_service_id]
GO
ALTER TABLE [cp].[services]  WITH CHECK ADD  CONSTRAINT [FK_services_service_types_service_type_id] FOREIGN KEY([service_type_id])
REFERENCES [cp].[service_types] ([id])
GO
ALTER TABLE [cp].[services] CHECK CONSTRAINT [FK_services_service_types_service_type_id]
GO
ALTER TABLE [cp].[labor_rates]  WITH CHECK ADD  CONSTRAINT [CK_labor_rates_nonneg] CHECK  (([hourly_rate]>=(0)))
GO
ALTER TABLE [cp].[labor_rates] CHECK CONSTRAINT [CK_labor_rates_nonneg]
GO
ALTER TABLE [cp].[material_prices]  WITH CHECK ADD  CONSTRAINT [CK_material_prices_price_nonneg] CHECK  (([price_per_unit]>=(0)))
GO
ALTER TABLE [cp].[material_prices] CHECK CONSTRAINT [CK_material_prices_price_nonneg]
GO
ALTER TABLE [cp].[material_types]  WITH CHECK ADD  CONSTRAINT [CK_material_types_overuse_percent] CHECK  (([overuse_percent]>=(0) AND [overuse_percent]<=(100)))
GO
ALTER TABLE [cp].[material_types] CHECK CONSTRAINT [CK_material_types_overuse_percent]
GO
ALTER TABLE [cp].[partner_service_history]  WITH CHECK ADD  CONSTRAINT [CK_psh_qty_pos] CHECK  (([qty]>(0)))
GO
ALTER TABLE [cp].[partner_service_history] CHECK CONSTRAINT [CK_psh_qty_pos]
GO
ALTER TABLE [cp].[partners]  WITH CHECK ADD  CONSTRAINT [CK_partners_inn_digits_len] CHECK  (([inn] IS NULL OR NOT [inn] like '%[^0-9]%' AND (len([inn])=(12) OR len([inn])=(10))))
GO
ALTER TABLE [cp].[partners] CHECK CONSTRAINT [CK_partners_inn_digits_len]
GO
ALTER TABLE [cp].[partners]  WITH CHECK ADD  CONSTRAINT [CK_partners_rating_range] CHECK  (([rating] IS NULL OR [rating]>=(0) AND [rating]<=(10)))
GO
ALTER TABLE [cp].[partners] CHECK CONSTRAINT [CK_partners_rating_range]
GO
ALTER TABLE [cp].[service_labor_norms]  WITH CHECK ADD  CONSTRAINT [CK_sln_hours_pos] CHECK  (([hours_per_unit]>(0)))
GO
ALTER TABLE [cp].[service_labor_norms] CHECK CONSTRAINT [CK_sln_hours_pos]
GO
ALTER TABLE [cp].[service_material_norms]  WITH CHECK ADD  CONSTRAINT [CK_service_material_norms_qty_pos] CHECK  (([qty_per_unit]>(0)))
GO
ALTER TABLE [cp].[service_material_norms] CHECK CONSTRAINT [CK_service_material_norms_qty_pos]
GO
ALTER TABLE [cp].[service_types]  WITH CHECK ADD  CONSTRAINT [CK_service_types_complexity_k_pos] CHECK  (([complexity_k]>(0)))
GO
ALTER TABLE [cp].[service_types] CHECK CONSTRAINT [CK_service_types_complexity_k_pos]
GO
ALTER TABLE [cp].[services]  WITH CHECK ADD  CONSTRAINT [CK_services_min_price] CHECK  (([min_partner_price]>=(0)))
GO
ALTER TABLE [cp].[services] CHECK CONSTRAINT [CK_services_min_price]
GO
USE [master]
GO
